@use './libs/normalize';
@use './chat';
@use './members.scss';

body {
  font-family: 'Montserrat';
	height: 100vh;
  background-image: url('../../../public/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
	background-color: #040d21;
  object-fit: cover;
  font-size: 1rem;
  box-sizing: border-box;
	
}

#root {
  height: 100%;
  width: 100%;
}
